.flex-container {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: column;
    /* This are the other flex-direction value
    /* flex-direction: column-reverse;
    flex-direction: row;  //By default flex-direction value;
    flex-direction: row-reverse; */
   
}